.leaflet-top.leaflet-left {
  top: 30px;
  left: 8px;
}

/* Темная/светлая тема */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 640px) {
  button {
    padding: 0.6em;
  }
}
